.game-card {
  width: 283px;
  height: 277.08px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 25%;
}

.card__header {
  width: 100%;
  height: 50%;
}

.card__header > img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.card__footer {
  height: 20%;
  display: flex;
  background-color: #a4a5af;
  padding: 2px;
  border-radius: 5%;
}

.footer__left {
  width: 100%;
  white-space: nowrap;
  background-color: #a4a5af;
}

.footer__left > h2 {
  font-size: large;
  margin-top: px;
  width: 100%;
  color: wheat;
  background-color: transparent;
}

.footer__left > h3 {
  margin-top: -18px;
  text-transform: uppercase;
  margin-left: 8px;
  color: wheat;
  background-color: transparent;
}

.card__footer > .MuiSvgIcon-root {
  color: white;
  background-color: transparent;
}
